<style>
    .title{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 20px;    
    }
    .container{
        background-color: bisque;
        padding: 20px;
        margin-top: 50px;
        border-radius: 20px;
    }
   
</style>
{{#if auth}}

<div class="container">
<form action="/users/save" method="post">

    <div class="title">
    <h1>Cadastro de Carros</h1>
    </div>
    <div class="row">
        <div class="col-4">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" class="form-control"><br>
  </div>
  </div> 

<div class="row">
        <div class="col-4">
  <label for="marca">Marca:</label>
  <input type="text" id="marca" name="marca" class="form-control"><br>
  </div>
  </div> 
<div class="row">
        <div class="col-4">
  <label for="potencia">Potência do motor:</label>
  <input type="text" id="potencia" name="potencia" class="form-control"><br>
  </div>
  </div> 

  <div class="row">
        <div class="col-4">
  <label for="cor">Cor:</label>
  <input type="text" id="cor" name="cor" class="form-control"><br>
  </div>
  </div> 

  <div class="row">
        <div class="col-4">
  <label for="fabricacao">Ano de Fabricação:</label>
  <input type="text" id="fabricacao" name="fabricacao" class="form-control"><br>
  </div>
  </div> 
<div class="row">
        <div class="col-2">
  <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
  <div class="col-3">
<a href="/">Home</a>
</div>
  </div>
</form>
<br>

</div>
{{/if}}